@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lato:wght@400;600&family=Montserrat&family=Roboto+Slab:wght@300&display=swap');

* {
  font-family: monospace;
}

::selection {
  background-color: #0E7490;
  color: #fff;
}